.about-page{
    background:#f8fafc;
    min-height:100vh;
}

.about-hero{
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.about-hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.about-hero p{
    max-width:700px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}

.about-content{
    width:90%;
    max-width:1200px;
    margin:60px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.about-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.about-card:hover{
    transform:translateY(-10px);
}

.about-card h2{
    color:#2563eb;
    margin-bottom:15px;
}

.about-card p,
.about-card li{
    color:#555;
    line-height:1.8;
}

.about-card ul{
    padding-left:20px;
}

.about-stats{
    width:90%;
    max-width:1200px;
    margin:60px auto;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.stat-box{
    width:220px;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-box:hover{
    transform:scale(1.05);
}

.stat-box h2{
    color:#2563eb;
    font-size:38px;
    margin-bottom:10px;
}

.stat-box p{
    color:#555;
    font-size:18px;
}
.team-section{
    width:90%;
    max-width:1200px;
    margin:80px auto;
    text-align:center;
}

.team-section h2{
    color:#2563eb;
    margin-bottom:40px;
    font-size:40px;
}

.team-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.team-card{
    width:280px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.team-card:hover{
    transform:translateY(-10px);
}

.team-card img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:20px;
}

.team-card h3{
    color:#2563eb;
    margin-bottom:10px;
}

.team-card p{
    color:#555;
}